* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: rgba(150, 150, 150, 0.8);
  color: white;
  font-size: 16px;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 4.5em;
  color: rgba(0, 0, 0, 0.75);
  text-shadow: 2px px 3px rgba(0, 0, 0, 0.75);
  max-width: 700px;
}

hr {
  background-color: #6f6f6f;
  border: none;
  margin: 20px -5px;
  height: 1px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 12px 20px;
  text-align: left;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
}

li {
  margin-bottom: 15px;
  width: 100%;
}

li:last-child {
  margin-bottom: 0px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #00A0C6;
  text-decoration: none;
  cursor: pointer;
}

.input {
  background-color: white;
  border: 0.5px #292929 solid;
  border-radius: 5px;
  padding: 12px 20px;
  font-weight: 500;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}

form #btn {
  background-color: gold;
  border: 0.5px #292929 solid;
  border-radius: 5px;
  padding: 12px 20px;
  width: 100%;
  font-weight: 500;
}

form #btn:hover {
  background-color: goldenrod;
}

main {
  width: 75%;
  margin: 0 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .contentContainer {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  -webkit-box-shadow: -1px 2px 9px 3px rgba(0, 0, 0, 0.75) inset;
          box-shadow: -1px 2px 9px 3px rgba(0, 0, 0, 0.75) inset;
  border: 0.5px #292929 solid;
  padding: 30px 45px;
  text-align: center;
  width: 100%;
  max-width: 700px;
}

.totalContainer {
  margin: 0px;
  padding: 12px 20px;
  border: 1px solid black;
  border-radius: 5px;
}

h2 {
  font-size: 2em;
  padding: 0;
  margin: 0;
}

.totalContainer #total {
  font-size: 1.8em;
  width: 100%;
}

#totalBtn {
  background-color: gold;
  border: 0.5px #292929 solid;
  border-radius: 5px;
  padding: 12px 20px;
  font-weight: 500;
  margin-top: 20px;
  font-size: 1.2em;
}

#totalBtn:hover {
  background-color: goldenrod;
}

#totalDisplayedText {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}
/*# sourceMappingURL=style.css.map */